<!DOCTYPE html>
<html lang="es">

<head th:replace="layout/dashboard :: header"></head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="layout/dashboard :: barra"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" class="fondito">

                <!-- Topbar -->
                <div th:replace="layout/dashboard :: navegacion"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    
                <!--Seccion alertas-->
                <!--Guardar-->
                <div class="alert alert-success alert-dismissable" th:if="${guardar != null}">
                    <label th:text="${guardar}"></label>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>

                <!--Editar-->
                <div class="alert alert-warning alert-dismissable" th:if="${editar != null}">
                    <label th:text="${editar}"></label>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>

                <!--Eliminar-->
                <div class="alert alert-danger alert-dismissable" th:if="${eliminar != null}">
                    <label th:text="${eliminar}"></label>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>

                    <div class="card mt-3">
                        <!--Cabecera-->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header">
                            <h1 class="h3 mb-0 micolor">Clientes</h1>
                        </div>
                        <!--Cuerpo-->
                        <div class="card-body">
                            <form th:action="@{/lista-cliente/form}" th:object="${cliente}" method="post">
                                <input type="hidden" th:field="*{id}"/>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label">DNI</label>
                                        <input th:field="*{persona.id}" placeholder="Ingrese número de DNI" class="form-control" type="number">
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label">Nombres</label>
                                        <input th:field="*{persona.nombres}" placeholder="Ingrese nombres completos" class="form-control" type="text">
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label">Apellidos</label>
                                        <input th:field="*{persona.apellidos}" placeholder="Ingrese apellidos" class="form-control" type="text">
                                    </div>
                                </div>
                                
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <label class="form-label">Telefono</label>
                                        <input th:field="*{persona.celular}" placeholder="Ingrese número de teléfono" class="form-control" type="number">
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label">Direccion</label>
                                        <input th:field="*{persona.direccion}" placeholder="Ingrese direccion del cliente" class="form-control" type="text">
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label">Correo</label>
                                        <input th:field="*{persona.correo}" placeholder="Ingrese correo del cliente" class="form-control" type="text">
                                    </div>
                                </div>
                                    
                                    

                                <br><br>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <!--submit -> para que un botón pueda enviar la información-->
                                            <button type="submit" class="btn btn-info">
                                                <!--Añadir imagen-->
                                                <i class="fa-solid fa-floppy-disk"></i> Guardar Cliente
                                            </button>
                                        </div>
                                    </div>

                            </form>
                        </div>

                    </div>


                    <!--Lista de clientes-->
                    <div class="card mt-4">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header">
                            <h1 class="h3 mb-0 micolor">Lista de Clientes</h1>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <!--table-hover -> para que el puntero cambie de color de la columna-->
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>DNI</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Celular</th>
                                            <th>Direccion</th>
                                            <th>Correo</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--Mostrará todos los registros que existan-->
                                        <tr th:each="item: ${listaCliente}">
                                            <!--th:text -> imprime en texto el atributo-->
                                            <td th:text="${item.persona.id}"></td>
                                            <td th:text="${item.persona.nombres}"></td>
                                            <td th:text="${item.persona.apellidos}"></td>
                                            <td th:text="${item.persona.celular}"></td>
                                            <td th:text="${item.persona.direccion}"></td>
                                            <td th:text="${item.persona.correo}"></td>
                                            <td class="text-center">
                                                <a th:href="@{/lista-cliente/editar/}+ ${item.id}" class="btn btn-warning">
                                                    <i class="fa-solid fa-pen-to-square"></i> Editar
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a th:href="@{/lista-cliente/eliminar/}+ ${item.id}" class="btn btn-danger" 
                                                onclick="return confirm('¿Desea eliminar el cliente?')">
                                                    <i class="fa-solid fa-trash"></i> Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>



                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="layout/dashboard :: footer"></div>>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Logout Modal-->
    <div th:replace="layout/dashboard :: opciones_user"></div>>

    <div th:replace="layout/dashboard :: librerias"></div>

</body>

</html>