<!DOCTYPE html>
<html lang="es">

<head th:replace="layout/dashboard :: header"></head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="layout/dashboard :: barra"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" class="fondito">

                <!-- Topbar -->
                <div th:replace="layout/dashboard :: navegacion"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    
                <!--Seccion alertas-->
                <!--Guardar-->
                <div class="alert alert-success alert-dismissable" th:if="${guardar != null}">
                    <label th:text="${guardar}"></label>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>

                <!--Editar-->
                <div class="alert alert-warning alert-dismissable" th:if="${editar != null}">
                    <label th:text="${editar}"></label>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>

                <!--Eliminar-->
                <div class="alert alert-danger alert-dismissable" th:if="${eliminar != null}">
                    <label th:text="${eliminar}"></label>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>

                    <div class="card mt-3">
                        <!--Cabecera-->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header">
                            <h1 class="h3 mb-0 micolor">Proveedores</h1>
                        </div>
                        <!--Cuerpo-->
                        <div class="card-body">
                            <form th:action="@{/lista-proveedor/formulario}" th:object="${proveedor}" method="post">
                                <div class="row">

                                    <div class="col-md-6">
                                        <label class="form-label">Proveedor</label>
                                        <input th:field="*{id}" placeholder="Ingrese número de proveedor" class="form-control" type="number">
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">Nombre</label>
                                        <input th:field="*{nombre}" placeholder="Ingrese nombre del proveedor" class="form-control" type="text">
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">Teléfono</label>
                                        <input th:field="*{telefono}" placeholder="Ingrese número de teléfono" class="form-control" type="text">
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label">Procedencia</label>
                                        <input th:field="*{procedencia}" placeholder="Ingrese procedencia del proveedor" class="form-control" type="text">
                                    </div>
                                </div>
                                <br><br>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <!--submit -> para que un botón pueda enviar la información-->
                                            <button type="submit" class="btn btn-info">
                                                <!--Añadir imagen-->
                                                <i class="fa-solid fa-floppy-disk"></i> Guardar Proveedor
                                            </button>
                                        </div>
                                    </div>

                            </form>
                        </div>

                    </div>


                    <!--Lista de categorias-->
                    <div class="card mt-3">
                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header">
                            <h1 class="h3 mb-0 micolor">Lista de Proveedores</h1>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Número</th>
                                            <th>Nombre</th>
                                            <th>Teléfono</th>
                                            <th>Procedencia</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr th:each="item: ${listaProveedores}">
                                            <td th:text="${item.id}"></td>
                                            <td th:text="${item.nombre}"></td>
                                            <td th:text="${item.telefono}"></td>
                                            <td th:text="${item.procedencia}"></td>
                                            <td class="text-center">
                                                <a th:href="@{/lista-proveedor/editar/}+ ${item.id}" class="btn btn-warning">
                                                    <i class="fa-solid fa-pen-to-square"></i> Editar
                                                </a>
                                            </td>
                                            
                                            <td class="text-center">
                                                <!--hacemos referencia a la ruta /categoria/eliminar/ y le enviamos el ID de la categoria-->
                                                <a th:href="@{/lista-proveedor/eliminar/}+ ${item.id}" class="btn btn-danger" 
                                                onclick="return confirm('¿Desea eliminar este proveedor?')">
                                                    <i class="fa-solid fa-trash"></i> Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="layout/dashboard :: footer"></div>>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Logout Modal-->
    <div th:replace="layout/dashboard :: opciones_user"></div>>

    <div th:replace="layout/dashboard :: librerias"></div>

</body>

</html>