<!DOCTYPE html>
<html lang="es">

<head th:replace="layout/dashboard :: header"></head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="layout/dashboard :: barra"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" class="fondito">

                <!-- Topbar -->
                <div th:replace="layout/dashboard :: navegacion"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="card mt-3">
                        <!--Cabecera-->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header">
                            <h1 class="h3 mb-0 micolor">Stocks</h1>
                        </div>
                        <!--Cuerpo-->
                        <div class="card-body">
                            <form th:action="@{/lista-stock/formulario}" th:object="${stock}" method="post">
                                <input type="hidden" th:field="*{id}"/>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-label col-md-6 ml-3">Cantidad: </div>
                                                <input th:field=*{cantidad} placeholder="Ingrese cantidad váida" class="form-control col-md-6" type="number"/>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="form-label col-md-6 ml-3">Talla: </div>
                                                <input th:field=*{talla} placeholder="Ingrese talla váida" class="form-control col-md-6" type="number"/>
                                            </div>
                                        </div>

                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <div class="form-label col-md-7 ml-3">Descripcion: </div>
                                                <input th:field=*{descripcion} placeholder="Ingrese una descripcion" class="form-control col-md-12" type="text"/>
                                            </div>
                                        </div>

                                        <br><br>
                                        <div class="row">
                                            <div class="text-center col-md-12">
                                                <button type="submit" class="btn btn-info">
                                                    <i class="fa-solid fa-floppy-disk"></i> Guardar Stock
                                                </button>
                                            </div>
                                        </div>
                            </form>
                        </div>

                    </div>


                    <!--Lista de categorias-->
                    <div class="card mt-3">
                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header">
                            <h1 class="h3 mb-0 micolor">Lista de Stocks</h1>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Cantidad</th>
                                            <th>Descripcion</th>
                                            <th>talla</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr th:each="item: ${listaStock}">
                                            <td th:text="${item.cantidad}"></td>
                                            <td th:text="${item.descripcion}"></td>
                                            <td th:text="${item.talla}"></td>
                                            <td class="text-center">
                                                <a th:href="@{/lista-stock/editar/}+ ${item.id}" class="btn btn-warning">
                                                    <i class="fa-solid fa-pen-to-square"></i> Editar
                                                </a>
                                            </td>
                                            
                                            <td class="text-center">
                                                <!--hacemos referencia a la ruta /categoria/eliminar/ y le enviamos el ID de la categoria-->
                                                <a th:href="@{/lista-stock/eliminar/}+ ${item.id}" class="btn btn-danger" 
                                                onclick="return confirm('¿Desea eliminar la categoría?')">
                                                    <i class="fa-solid fa-trash"></i> Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="layout/dashboard :: footer"></div>>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Logout Modal-->
    <div th:replace="layout/dashboard :: opciones_user"></div>>

    <div th:replace="layout/dashboard :: librerias"></div>

</body>

</html>