<!DOCTYPE html>
<html lang="es">
  <head th:replace="index :: cabecera"></head>
  <body>
  
  <div class="site-wrap">
    <header th:replace="index :: menuprincipal"></header>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a th:href="@{/}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Tienda</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section fondito">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-12 order-2">

            <div class="row">
              <div class="col-md-12 mb-5">
                <div class="float-md-left mb-4"><h2 class="text-black h5">Botines</h2></div>
                <div class="d-flex">
                    <div th:replace="shop :: seccion"></div>
                    <div th:replace="shop :: categoria"></div>
                </div>
              </div>
            </div>
            <div class="row mb-5">
                <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                    <div class="block-4 text-center border">
                      <figure class="block-4-image">
                        <a th:href="@{/shop-single}"><img src="https://bataperu.vtexassets.com/arquivos/ids/269681-300-300?v=1752861473&width=300&height=300&aspect=true" alt="Image placeholder" class="img-fluid"></a>
                      </figure>
                      <div class="block-4-text p-4">
                        <h3><a th:href="@{/shop-single}">Botines Casuales Mujer Taupe</a></h3>
                        <br/>
                        <p class="text-primary font-weight-bold">S/ 167.93</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                    <div class="block-4 text-center border">
                      <figure class="block-4-image">
                        <a th:href="@{/shop-single}"><img src="https://bataperu.vtexassets.com/arquivos/ids/251965-300-300?v=1751061662&width=300&height=300&aspect=true" alt="Image placeholder" class="img-fluid"></a>
                      </figure>
                      <div class="block-4-text p-4">
                        <h3><a th:href="@{/shop-single}">Botines Casuales Mujer Gris</a></h3>
                        <br/>
                        <p class="text-primary font-weight-bold">S/ 113.94</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                    <div class="block-4 text-center border">
                      <figure class="block-4-image">
                        <a th:href="@{/shop-single}"><img src="https://bataperu.vtexassets.com/arquivos/ids/273594-300-300?v=1752879789&width=300&height=300&aspect=true" alt="Image placeholder" class="img-fluid"></a>
                      </figure>
                      <div class="block-4-text p-4">
                        <h3><a th:href="@{/shop-single}">Botines Casuales Hombre Camel</a></h3>
                        <br/>
                        <p class="text-primary font-weight-bold">S/ 229.90</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                    <div class="block-4 text-center border">
                      <figure class="block-4-image">
                        <a th:href="@{/shop-single}"><img src="https://bataperu.vtexassets.com/arquivos/ids/273603-300-300?v=1752879721&width=300&height=300&aspect=true" alt="Image placeholder" class="img-fluid"></a>
                      </figure>
                      <div class="block-4-text p-4">
                        <h3><a th:href="@{/shop-single}">Botines Hombre Marron</a></h3>
                        <br/>
                        <p class="text-primary font-weight-bold">S/ 183.92</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                    <div class="block-4 text-center border">
                      <figure class="block-4-image">
                        <a th:href="@{/shop-single}"><img src="https://bataperu.vtexassets.com/arquivos/ids/190751-300-300?v=1752703639&width=300&height=300&aspect=true" alt="Image placeholder" class="img-fluid"></a>
                      </figure>
                      <div class="block-4-text p-4">
                        <h3><a th:href="@{/shop-single}">Botines Casuales Ifantil Amarillo</a></h3>
                        <br/>
                        <p class="text-primary font-weight-bold">S/ 109.90</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                    <div class="block-4 text-center border">
                      <figure class="block-4-image">
                        <a th:href="@{/shop-single}"><img src="https://bataperu.vtexassets.com/arquivos/ids/190747-300-300?v=1752703656&width=300&height=300&aspect=true" alt="Image placeholder" class="img-fluid"></a>
                      </figure>
                      <div class="block-4-text p-4">
                        <h3><a th:href="@{/shop-single}">Botines Casuales Ifantil Azul</a></h3>
                        <br/>
                        <p class="text-primary font-weight-bold">S/ 109.90</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                    <div class="block-4 text-center border">
                      <figure class="block-4-image">
                        <a th:href="@{/shop-single}"><img src="https://bataperu.vtexassets.com/arquivos/ids/271324-300-300?v=1752879786&width=300&height=300&aspect=true" alt="Image placeholder" class="img-fluid"></a>
                      </figure>
                      <div class="block-4-text p-4">
                        <h3><a th:href="@{/shop-single}">Botín Para Niño Camel</a></h3>
                        <br/>
                        <p class="text-primary font-weight-bold">S/ 80.91</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                    <div class="block-4 text-center border">
                      <figure class="block-4-image">
                        <a th:href="@{/shop-single}"><img src="https://bataperu.vtexassets.com/arquivos/ids/244311-300-300?v=1752879640&width=300&height=300&aspect=true" alt="Image placeholder" class="img-fluid"></a>
                      </figure>
                      <div class="block-4-text p-4">
                        <h3><a th:href="@{/shop-single}">Botines Casuales Mujer Negro</a></h3>
                        <br/>
                        <p class="text-primary font-weight-bold">S/ 189.90</p>
                      </div>
                    </div>
                  </div> 
                  <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                    <div class="block-4 text-center border">
                      <figure class="block-4-image">
                        <a th:href="@{/shop-single}"><img src="https://bataperu.vtexassets.com/arquivos/ids/273605-300-300?v=1752879685&width=300&height=300&aspect=true" alt="Image placeholder" class="img-fluid"></a>
                      </figure>
                      <div class="block-4-text p-4">
                        <h3><a th:href="@{/shop-single}">Botines Casuales Hombre Negro</a></h3>
                        <br/>
                        <p class="text-primary font-weight-bold">S/  206.91</p>
                      </div>
                    </div>
                  </div>
          </div>      
        </div>    
      </div>
    </div>

    <footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Navegaciones</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contáctenos</h3>
              <ul class="list-unstyled">
                <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                <li class="phone">+51 912 403 610</li>
                <li class="email">apruebamep@domain.com</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
    
  </body>
</html>