<!DOCTYPE html>
<html lang="es">

<head th:replace="layout/dashboard :: header"></head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="layout/dashboard :: barra"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" class="fondito">

                <!-- Topbar -->
                <div th:replace="layout/dashboard :: navegacion"></div>
                <!-- End of Topbar -->

                          
                <!-- Begin Page Content -->
                <div class="container-fluid">

                        
                <!--Seccion alertas-->
                <div class="alert alert-success alert-dismissable" th:if="${mensaje != null}">
                    <label th:text="${mensaje}"></label>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>


                    <div class="card mt-3">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header">
                            <h1 class="h3 mb-0 micolor">Productos</h1>
                        </div>
                    

                    <div class="card-body">

                        <form th:action="@{/lista-producto/form}" th:object="${producto}" method="post">

                                <div class="row mt-1">
                                    <div class="col-md-4">
                                        <label>Categoria</label>
                                        <!--Start selector-->
                                        <select class="form-select mt-1 ml-2" th:field="*{categoria.id}">
                                            <option value="">Seleccione una opción</option>
                                            <option th:each="item: ${listaCategorias}" th:value="${item.id}" th:text="${item.nombre}"></option>
                                        </select>

                                    </div>
                                    
                                    <div class="col-md-4">
                                        <label>Proveedor</label>
                                        <!--Start selector-->
                                        <select class="form-select mt-1 ml-2" th:field="*{proveedor.id}">
                                            <option value="">Seleccione una opción</option>
                                            <option th:each="item: ${listaProveedor}" th:value="${item.id}" th:text="${item.nombre}"></option>
                                        </select>

                                    </div>
                                    
                                    <div class="col-md-4">
                                        <label>Seccion</label>
                                        <!--Start selector-->
                                        <select class="form-select mt-1 ml-2" th:field="*{seccion.id}">
                                            <option value="">Seleccione una opción</option>
                                            <option th:each="item: ${listaSeccion}" th:value="${item.id}" th:text="${item.nombre}"></option>
                                        </select>

                                    </div>
                                </div>

                                <div class="row mt-5">
                                    <div class="col-md-12">
                                        <label>Stock</label>
                                        <!--Start selector-->
                                        <select class="form-select mt-1 ml-2" th:field="*{stock.id}">
                                            <option value="">Seleccione una opción</option>
                                            <option th:each="item: ${listaStock}" th:value="${item.id}" th:text="${item.descripcion}"></option>
                                        </select>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mt-3">
                                        <label>Nombre del producto: </label>
                                        <input type="text" th:field="*{nombre}" class="form-control"/>
                                    </div>
            
                                    <div class="col-md-6 mt-3">
                                        <label>Precio del producto: </label>
                                        <input type="text" th:field="*{precio}" class="form-control"/>
                                    </div>
                                </div>


                            
                            <div class="row mt-5">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-info">
                                        <i class="fa-solid fa-floppy-disk"></i> Guardar Producto
                                    </button>
                                </div>
                            </div>
                        </form>
                        
                    </div>


                    </div>


                    <!--Lista de categorias-->
                    <div class="card mt-4">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4 card-header">
                            <h1 class="h3 mb-0 micolor">Lista de Productos</h1>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <!--table-hover -> para que el puntero cambie de color de la columna-->
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th>Categoria</th>
                                            <th>Proveedor</th>
                                            <th>Seccion</th>
                                            <th>Stock</th>
                                            <th>Talla</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--Mostrará todos los registros que existan-->
                                        <tr th:each="item: ${listaProducto}">
                                            <!--th:text -> imprime en texto el atributo-->
                                            <td th:text="${item.nombre}"></td>
                                            <td th:text="${item.precio}"></td>
                                            <td th:text="${item.categoria.nombre}"></td>
                                            <td th:text="${item.proveedor.nombre}"></td>
                                            <td th:text="${item.seccion.nombre}"></td>
                                            <td th:text="${item.stock.cantidad}"></td>
                                            <td th:text="${item.stock.talla}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>



                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="layout/dashboard :: footer"></div>>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Logout Modal-->
    <div th:replace="layout/dashboard :: opciones_user"></div>>

    <div th:replace="layout/dashboard :: librerias"></div>

</body>

</html>