.fondito{
    margin: 0;
    padding: 0;
    background: url(/images/fondo.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.fondiuda{
    background-color: #7971EA;
}

.micolor{
    color: #7971EA;
}